{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title_tag}}{% endblock%}

{% block content %}
<!---current user:{{user.id}}
post author:{{post.author.id}}--->
<h1>Post`s Details</h1>
<hr>
{% if user.is_authenticated  %}
    {% if user.id is post.author.id %}
    <h2>{{post.title}} - {{post.author.id}}</h2>
        <small>By: {{post.author}} - {{post.post_date}}
            <a href="{% url 'update_post' post.pk%}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a><br>
    {% endif%}
            </small><br><hr>
            {% if post.header_image %}
                <img src="{{post.header_image.url}}" alt="header_image" width="150" height="150" class="rounded-circle"><!--resizes needed-->
            {% endif %}
            <br><br>
            {{post.body|safe}}
            <br><br>
            <!--a href="{% url 'home' %}" class="btn btn-secondary"><= Back</a-->

            <br><br><br><br>

            <form action="{% url 'like_post' post.pk %}"
            method="POST">
                {% csrf_token %}

                {% if liked %}
                    <button class = "btn btn-danger" type="submit" name="post_id" value="{{ post.id }}">
                    Unlike</button> 
                    
                {% else %}
                   
                    <button type="submit" class="btn btn-success" name="post_id" value="{{ post.id }}">Like</button>
                {% endif %}
                    - {{total_likes}} Likes
            </form><br><br>
    
            <br><br>
            <hr>
            <div class="card" style="width: 12rem;"><!--card from bootstrap-->
                
                {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img-top" alt="card picture">
                {% else %}
                <p>default picture</p>
                <img src="{% static 'myblog/images/default.jpg' %}" class="card-img-top" alt="card picture">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"> {{post.author}} - {{post.post_date}}</h5>
                    <p class="'small text-muted">
                        {% if post.author.profile.id %}
                        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page |</a>
                        {% endif %}
                        <a href="{{post.author.profile.website_url}}"> Website |</a>
                        <a href="{{post.author.profile.facebook_url}}"> Facebook |</a>     
                        <a href="{{post.author.profile.instagram_url}}">Instagram</a> </p>
                    <p class="card-text">{{post.author.profile.bio}}</p>
                </div>
              </div>
{% else %}
 <h3>Wanna see the details?Please Register first!</h3>
{% endif %}

<hr>
<h2>Comments ...</h2>
            {% if not post.comments.all %}
                <p>No Comments Yet ...</p><a href="{% url 'add_comment' post.pk %}">Add One </a>
            {% else %}
            <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
            <br><br>
                {% for comment in post.comments.all %}
                    <strong>{{ comment.name }} -
                            {{ comment.date_added }}
                    </strong><br>
                    {{ comment.body }}
                    <br><br>
                {% endfor %}
                
            {% endif %}

          
{% endblock %} 