
{% extends 'base.html' %}

{% block title %}{{post.title_tag}}{% endblock%}

{% block content %}
            <h1>Post`s Details</h1>
        </header>
        <section>
                <h2>{{post.title}}</h2>
                <small>By: {{post.author}} - {{post.post_date}}
                    <a href="{% url 'update_post' post.pk%}">Edit</a>
                    <a href="{% url 'delete_post' post.pk %}">Delete</a><br>
                </small><br><hr>
                {{post.body}}
                <br><br>
                <a href="{% url 'home' %}" class="btn btn-secondary"><= Back</a>
{% endblock %} 