{% extends 'base.html' %}

{% block content %}
    <h1>Blog Task - Codemy</h1><br>
    <hr>
    <h2>Posts ....</h2>
    <ul>
    {% for post in object_list %}
        <li>
            <a href="{%url 'article-detail' post.pk %}">
                {{post.title}}</a>
                - <strong><a href="{% url 'category' post.category|slugify %}">{{post.category}}</a></strong>
                - {{post.author}}
                - {{post.post_date}} 
            {% if user.is_authenticated %}
                {% if user.id is post.author.id %}
                <small><a href="{% url 'update_post' post.pk %}">|Edit</a>
                    <a href="{% url 'delete_post' post.pk %}"> |Delete</a></small><br>
                    {{post.snippet}}
                    <!---{{post.body|safe}} can add slice :'integer'-->
                {% endif %}
                    <!-- formatting with slices-->
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endblock %}








